body {
    font-family: "Roboto", sans-serif;
    
}

header{
    height: 90px;
    padding: 1rem;
    z-index: 1;
}

header>nav{
    background-color: white;
}

ul li{
    list-style:none;
}

.fa-bell{
    color: orange;
}

.my_btn-offcanvas{
    width: 50px;
    height: 50px;
}

.my_plus{
    width: 25px;
    height: 25px;
    padding-left: 7px;
    padding-top: 2px;
}

.iscrizione{
    background-color: #1b72e8;
    width:calc(100vw - 50px);
    margin-top:90px;
}

a{
    color: white;
    text-decoration: none;
}

.my_bg-color-grey{
    background-color: #e5e5e5;
}

.my_bg-dark-blue{
    background-color:#165bba ;
    font-size:.8rem;
}

aside{
    width: 50px;
    height:calc(100vh - 90px);
    background-image: url(../img/sidebar-bg.png);
    background-color:#051e34 ;
    margin-top: 90px;
}

.my_container{
    width:calc(100vw - 50px);
    height: 100vh;
}



@media screen and (min-width:768px) {
    aside{
        width: 150px;
    }
    
    .iscrizione{
        width:calc(100vw - 150px);
        
    }

    .my_container{
        width:calc(100vw - 150px);
    }

    
}

